/* Checkout.css */

.checkout-section {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.25rem;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.checkout-header {
    text-align: center;
    margin-bottom: 1.25rem;
}

.checkout-header img {
    width: 5rem;
    height: 5rem;
}

.checkout-header h2 {
    margin: 0.5rem 0;
}

/* Flexbox for inline layout */
.inline-inputs {
    display: flex;
    justify-content: center; 
    gap: 2rem;
    max-width: 25rem;
    margin: 0.5rem 7rem;
}


.personal-info h3,
.payment-info h3,
.shipping-method h3 {
    display: block;
    margin: 2.5rem 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Imbue', serif;
    color: #000000;
}

.personal-info label,
.payment-info label,
.shipping-method label {
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
    color: #333333;
}


.personal-info input,
.payment-info input,
.additional-info textarea {
    width: 100%;
    max-width: 25rem;
    padding: 10px;
    margin: 0.5rem auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.additional-info p {
    margin-top: 2.5rem;
}

.additional-info textarea{
    padding: 20px;
}


.shipping-method label {
    display: block;
    margin-bottom: 0.3125rem;
}

.checkout-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.checkout-buttons button {
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    margin-right: 0.3125rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: #eee;
    color: black;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.245);
}

.checkout-buttons button:hover {
    background-color: #555;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.place-order-button {
    background-color: #4caf50;
    color: white;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.back-button {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}

.back-to-main-button {
    background-color: #eee;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.245);
}

.back-to-main-button:hover {
    background-color: #555;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}