/* Reset */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Body style */

body {
  font-family: 'News Cycle', sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

/* Header style */

h1 {
  font-family: 'Imbue', serif;
  font-size: 3.5rem;
  margin: 0.5rem;
}

h2 {
  font-family: 'Imbue', serif;
  font-size: 3.2rem;
  padding: 2rem;
}

header{
  position: relative;
}

header img {
  width: 45rem;
  height: 22rem;
  margin-top: 6.5rem;
}

/* Menu Bar */

.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.menu-section a {
  color: black;
  text-decoration: none;
}

.menu-section img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.7rem;
}


/* Cart Info */

.cart-icon {
  display: flex;
  align-items: center;
}

.cart-icon p {
  font-family: 'News Cycle', sans-serif;
  font-size: 1.2rem;
}

.shop-now-link {
  color: #333;
}

.shop-now-link:hover {
  color: #33333339;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 25rem;
  max-height: 20rem;
  overflow-y: auto; /* Add scrolling if content exceeds height */
  padding: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.cart-item p {
  font-size: 1.2rem;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.total-amount p {
  font-size: 1.3rem;
  font-weight: bold;
}



/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dropdown-menu a {
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}


.menu-icon-container {
  position: relative;
}


/* NavBar style */
nav {
  margin: 3rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 1rem 1.5rem;
  margin: 0.5rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Store Details */

.store-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 26rem;
  margin: 3rem auto;
}

.store-details img {
  width: 100%;
  height: auto;
  max-width: 12rem;
  max-height: 9rem;
  margin: 0.5rem;
}

/* Category Section */

.category-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;
}

.product {
  flex-basis: calc(20% - 4rem);
  max-width: 20rem;
  text-align: center;
  margin: 1rem;
}

.product img {
  max-width: 20rem;
  max-height: 30rem;
}

.product p {
  font-size: 1.2rem;
}

.product button {
  width: 10rem; 
  height: 4rem; 
  background-color: #eee; 
  color: black;
  font-size: 1.2rem;
  border: none;
  border-radius: 2rem; 
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}


.product button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.sizes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sizes button {
  width: 4rem;
  height: 3rem; 
  background-color: #eee;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.sizes button:hover {
  background-color: #555;
  color: white;
  transform: scale(1.05);
}

/* Bottom Details */
.bottom-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.email-subscription {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  padding: 1.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.subscription-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.email-form {
  display: flex;
  flex-direction: column; /* Stack input and button vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 1rem;
}

.email-form input {
  width: 100%; /* Expand input to fill available width */
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem; /* Add some spacing between input and button */
}

.email-form button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.email-form button:hover {
  background-color: #555;
}

.payment-methods {
  text-align: center;
  margin: 5rem 0;
}

.payment-methods img {
  width: 34rem;
  height: 10rem;
}

/* Footer styles */
footer {
  background-color: #D9D9D9;
  text-align: center;
  padding: 1rem;
}

/* Footer h2 style */
footer h2 {
  padding: 1rem;
}

/* Footer links styles */
footer a {
  text-decoration: underline;
  color: #333;
  font-size: 1.2rem;
  margin: 0.9rem;
  display: inline-block;
}

/* Footer paragraph styles */
footer p {
  font-family: 'News Cycle', sans-serif;
  margin: 0.1rem;
  font-size: 0.8rem;
}

